#hasil {
    margin: auto;
    margin-top: 80px;
    padding: 25px;
    border-radius: 10px;
    max-width: 600px;
    background-color: white;
    color: #828282;
}

.score-type {
    text-decoration: underline;
}

.score-right {
    color: #67A69D;
}

.score-wrong {
    color: #E9D038;
}

@media only screen and (max-width: 430px) {
    #hasil {
        margin: 20px;
    }
}