#tryout-soal {
  padding: 30px 120px;
  height: calc(100vh - 60px) !important;
  overflow-y: auto;
}

#tipe-soal {
  margin-top: 40px;
  transform: translateY(1px);
}

#tipe-soal h6 {
  padding: 10px;
  width: 120px;
  margin: 0;
  text-align: center;
  background-color: #c4c4c4;
  border: 0.8px solid #c4c4c4;
  border-bottom: none;
  font-size: 1.2rem;
}

.nav-soal-active {
  background-color: white !important;
}

#soal {
  width: 73%;
  max-width: 850px;
  box-sizing: border-box;
}

#soal > .soal-card {
  border: 0.8px solid #c4c4c4;
  border-radius: 10px;
  border-top-left-radius: 0;
  padding: 40px;
}

#soal input, .nav-box, #tipe-soal {
  cursor: pointer;
}

.soal-bottom .btn {
    background-color: #67A69D;
    color: white;
}

.soal-bottom .btn:hover {
    opacity: 0.8;
}

#navigasi {
  width: 25%;
  min-width: 250px;
  max-width: 290px;
  padding: 20px;
  border: 0.8px solid #c4c4c4;
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
  grid-auto-rows: 1fr;
  gap: 8px;
}

.grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > * {
  background: #F2F2F2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-box {
  font-size: 1.3rem;
}

.nav-box-active {
  background-color: #828282;
}

.nav-box-marked {
  border: 2px solid rgb(235, 87, 87);
}

@media (max-width: 1100px) {
  #tryout-soal {
    padding: 30px 80px;
  }
}

@media (max-width: 990px) {
  #tryout-soal {
    padding: 30px 50px;
  }

  #soal {
    width: 100%;
  }

  #navigasi {
    width: 100%;
  }

}

@media (max-width: 600px) {
  #tryout-soal {
    padding: 30px;
  }

  #tipe-soal h6 {
    width: 80px;
  }

  #soal .soal-card {
    padding: 30px;
  }
}