nav#navbar {
    padding: 10px 20px;
    box-shadow: 0px 2px 4px #cccccc;
    height: 60px;
    z-index: 5;
    position: relative;
}

nav > img:first-child {
    position: absolute;
    cursor: pointer;
}

.right-header {
    position: absolute;
    right: 20px;
}

.right-header > img {
    height: 40px;
}


@media (max-width: 430px) {
    .right-header {
        display: none !important;
    }
}