#sideBar {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 300px;
  left: -300px;
  transition: .7s ease-in-out;
  padding-top: 20px;
  z-index: 2;
  box-shadow: 1px 0 3px #cccccc;
}

.open-sideBar {
  transform: translateX(300px);
}

#sideBar > img {
    display: block;
    margin: auto;
}

@media (max-width: 430px) {
  #sideBar {
    width: 100vw;
    left: -100vw;
  }
  .close-sideBar {
    transform: translateX(100vw);
  }
}
